<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% load static%}
    <link rel='stylesheet' href='/static/css/index-style.css'>
    <script src='static/javascript/index.js'></script>
    <title>Main</title>
</head>

<body>
    {% include 'includes/header-main.html' %}
    <div class="main-block">
        <div class="img-content">
            <h1>Небанковские финансовые организации</h1>
            <p>This register is a public list of non-banking financial organizations (NBFOs) operating in Estonia. NBFOs are supervised by the Estonian Financial Supervision Authority (Finantsinspektsioon).</p>
            <form action="#" method="get">
                <input type="text" name="query" placeholder="Проверить организацию по ОГРН, ИНН или названию">
                <button class="search" type="submit">Проверить</button>
            </form>
        </div>
    </div>
    <div class="middle-container">
        <div class="news-container">
            <h2>Новости</h2>
            {% for item in news %}
            <div class="news-item">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                {% endif %}
                <div class="news-text">
                    <h2>{{ item.title }}</h2>
                    <h4>{{ item.date|date:"d.m.Y"}}</h4>
                    <p class="short-text">{{ item.text |truncatechars:400 }}</p>
                    <p class="full-text" style="display: none;">{{ item.text }}</p>
                    <button class="hide-btn" style="display: none;">Скрыть</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="aside">
            <div class="cbr-data">
                <h2>Инфляция: {{ cbr_data.inflation }}</h2>
                <h2>Ключевая ставка: {{ cbr_data.key_rate }}</h2>
                <div class="currency-table">
                    <div class="currency-row header">
                        <div class="currency-cell">Курсы валют</div>
                        <div class="currency-cell" id="yesterday"></div>
                        <div class="currency-cell" id="today"></div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">CNY, 1¥</div>
                        <div class="currency-cell">12,7696 ₽</div>
                        <div class="currency-cell">12,8004 ₽</div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">USD, 1$</div>
                        <div class="currency-cell">92,5810 ₽</div>
                        <div class="currency-cell">92,7463 ₽</div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">EUR, 1€</div>
                        <div class="currency-cell">100,2236 ₽</div>
                        <div class="currency-cell">100,7473 ₽</div>
                    </div>
                </div>
            </div>
            <a href="#" class="button_calc"><i class="fa fa-credit-card" aria-hidden="true" style="font-size: 2em;"></i>Кредитный калькулятор</a>
            <a href="#" class="button_calc"><i class="fa fa-calculator" aria-hidden="true" style="font-size: 2em;"></i>Депозитный калькулятор</a>
            <a href="#" class="button_check">Проверить свою кредитную историю</a>
            <div class="square-blocks">
                <a href="#" class="square"><i class="fa fa-credit-card" aria-hidden="true"  style="font-size: 2.5em;"></i>Займы</a>
                <a href="#" class="square"><i class="fa fa-credit-card" aria-hidden="true" style="font-size: 2.5em;"></i>Сбережения</a>
                <a href="#" class="square"><i class="fa fa-list-ol" aria-hidden="true" style="font-size: 2.5em;"></i>Рейтинг</a>
            </div>
        </div>
    </div>
    <div class="offer-container">
        {% for product in products %}
        <div class="offer-block">
            <span class="company">{{ product.filial_id.organisation_id.brand_name }}</span>
            <hr>
            <h4>{{ product.name }}</h4>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="faq-container">
        <h2>Часто задаваемые вопросы</h2>
        <div class="faq-item">
            <div class="question"><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 2em;"></i>Вопрос 1</div>
            <div class="answer">Ответ на вопрос 1</div>
        </div>
        <div class="faq-item">
            <div class="question"><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 2em;"></i>Вопрос 2</div>
            <div class="answer">Ответ на вопрос 2</div>
        </div>
        <div class="faq-item">
            <div class="question"><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 2em;"></i>Вопрос 3</div>
            <div class="answer">Ответ на вопрос 3</div>
        </div>
    </div>
    <div class="form-container">
        <h3>Форма обратной связи</h3>
        <p>{{ form.send_to_email }}Поделиться информацией с финансовой организацией</p>
        <form method="post" class="feedback" style="display: grid;">
            <div class="name-fields">
                {% csrf_token %}
                <p>Фамилия</p>
                {{ form.last_name }}
                <p>Имя</p>
                {{ form.first_name }}
                <p>Отчество</p>
                {{ form.patronimic_name }}
            </div>
            <div class="organization-fields">
                <p>Укажите организацию</p>
                {{ form.organization }}
                <p>Номер договора</p>
                {{ form.contract_number }}
                <p>Дата договора</p>
                {{ form.contract_date }}
            </div>
            <div class="message-field">
                <p>Оставьте Ваш комментарий</p>
                {{ form.message }}
                <button type="submit" class="send_feedback">Отправить</button>
            </div>
        </form>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>