<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% load static%}
    <link rel='stylesheet' href='/static/css/index-style.css'>
    <script src='static/javascript/index.js'></script>
    <title>Main</title>
</head>

<body>
    {% include 'includes/header-main.html' %}
    <div class="main-block">
        <div class="img-content">
            <h1>Небанковские финансовые организации</h1>
            <p>This register is a public list of non-banking financial organizations (NBFOs) operating in Estonia. NBFOs are supervised by the Estonian Financial Supervision Authority (Finantsinspektsioon).</p>
            <form action="#" method="get">
                <input type="text" name="query" placeholder="Проверить организацию по ОГРН, ИНН или названию">
                <button class="search" type="submit">Проверить</button>
            </form>
        </div>
    </div>
    <div class="middle-container">
        <div class="news-container">
            <h2>Новости</h2>
            {% for item in news %}
            <div class="news-item">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                {% endif %}
                <div class="news-text">
                    <h2>{{ item.title }}</h2>
                    <h4>{{ item.date|date:"d.m.Y"}}</h4>
                    <p>{{ item.text |truncatechars:400 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="aside">
            <div class="cbr-data">
                <h2>Инфляция: {{ cbr_data.inflation }}</h2>
                <h2>Ключевая ставка: {{ cbr_data.key_rate }}</h2>
                <div class="currency-table">
                    <div class="currency-row header">
                        <div class="currency-cell">Курсы валют</div>
                        <div class="currency-cell" id="yesterday"></div>
                        <div class="currency-cell" id="today"></div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">CNY, 1¥</div>
                        <div class="currency-cell">12,7696 ₽</div>
                        <div class="currency-cell">12,8004 ₽</div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">USD, 1$</div>
                        <div class="currency-cell">92,5810 ₽</div>
                        <div class="currency-cell">92,7463 ₽</div>
                    </div>
                    <div class="currency-row">
                        <div class="currency-cell">EUR, 1€</div>
                        <div class="currency-cell">100,2236 ₽</div>
                        <div class="currency-cell">100,7473 ₽</div>
                    </div>
                </div>
            </div>
            <a href="#" class="button_calc"><i class="fa fa-credit-card" aria-hidden="true"></i>Кредитный калькулятор</a>
            <a href="#" class="button_calc"><i class="fa fa-credit-card" aria-hidden="true"></i>Депозитный калькулятор</a>
            <a href="#" class="button_check">Проверить свою кредитную историю</a>
            <div class="square-blocks">
                <a href="#" class="square">Займы</a>
                <a href="#" class="square">Сбережения</a>
                <a href="#" class="square">Рейтинг</a>
            </div>
        </div>
    </div>
</body>
</html>