.place {
    margin: 10px 60px 10px 40px;
}

.filters {
    border: solid #00000023;
    border-radius: 20px;
    margin: 10px 60px 10px 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Golos';
    font-size: medium;
}

.method-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
}

.active {
    color: white;
    background-color: #333;
}

.inactive {
    color: black;
    background-color: #ccc;
}


.amount-input input {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    border-right: 1px solid #000000;
    height: 30px;
}

.term-input select {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 100%;

}


.interest-input select {
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 100%;

}

.apply-filters {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Golos';
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 40px 10px 20px;
    padding: 10px;
}

.item {
    border: solid 1px blue;
    border-radius: 10px;
    margin: 10px;
    padding: 0 10px;
    width: 22%;
    font-family: 'Golos';
    box-sizing: border-box;
}